In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline

In [6]:
demanda = pd.read_csv('Datos_sin_tratar/demanda_baleares_16-19.csv', sep = ';')

In [7]:
demanda

,id,name,geoid,geoname,value,datetime
0,10244,Demanda en Baleares,NaN,NaN,487.174,2016-01-01T00:00:00+01:00
1,10244,Demanda en Baleares,NaN,NaN,459.223,2016-01-01T01:00:00+01:00
2,10244,Demanda en Baleares,NaN,NaN,428.181,2016-01-01T02:00:00+01:00
3,10244,Demanda en Baleares,NaN,NaN,400.044,2016-01-01T03:00:00+01:00
4,10244,Demanda en Baleares,NaN,NaN,379.334,2016-01-01T04:00:00+01:00
...,...,...,...,...,...,...
35059,10244,Demanda en Baleares,NaN,NaN,845.089,2019-12-31T19:00:00+01:00
35060,10244,Demanda en Baleares,NaN,NaN,801.779,2019-12-31T20:00:00+01:00
35061,10244,Demanda en Baleares,NaN,NaN,709.272,2019-12-31T21:00:00+01:00
35062,10244,Demanda en Baleares,NaN,NaN,625.302,2019-12-31T22:00:00+01:00
35063,10244,Demanda en Baleares,NaN,NaN,579.010,2019-12-31T23:00:00+01:00